#login {
    margin-top: 54px; 
}

#password {
    margin-bottom: 8px;
}

#remember {
    display: block;
    margin-bottom: 16px;
    cursor: pointer;
}

#register {
    display: block;
    margin-top: 24px;
}